In [1]:
import zipfile
import os
import pandas as pd
import numpy as np

#### 解压缩打包文件 ../data/nyiso/all/raw_data 文件夹

In [2]:
def unzip(source_filename, dest_dir):
    with zipfile.ZipFile(source_filename) as zf:
        try:
            zf.extractall(dest_dir)
        except:
            print(source_filename)
            return

In [3]:
zips = []
for file in os.listdir("../data/nyiso/zips"):
    if file.endswith(".zip"):
        zips.append(file)
for z in zips:
    try:
        unzip('../data/nyiso/zips/' + z, '../data/nyiso/all/raw_data')
        print('../data/nyiso/zips/' + z + "extract done!")
    except:
        print('./data/nyiso/zips/' + z)
        continue

../data/nyiso/zips/20120601pal_csv.zipextract done!
../data/nyiso/zips/20031001pal_csv.zipextract done!
../data/nyiso/zips/20020801pal_csv.zipextract done!
../data/nyiso/zips/20121001pal_csv.zipextract done!
../data/nyiso/zips/20080301pal_csv.zipextract done!
../data/nyiso/zips/20030801pal_csv.zipextract done!
../data/nyiso/zips/20150601pal_csv.zipextract done!
../data/nyiso/zips/20070401pal_csv.zipextract done!
../data/nyiso/zips/20101101pal_csv.zipextract done!
../data/nyiso/zips/20130601pal_csv.zipextract done!
../data/nyiso/zips/20140401pal_csv.zipextract done!
../data/nyiso/zips/20101001pal_csv.zipextract done!
../data/nyiso/zips/20050201pal_csv.zipextract done!
../data/nyiso/zips/20090701pal_csv.zipextract done!
../data/nyiso/zips/20111101pal_csv.zipextract done!
../data/nyiso/zips/20100601pal_csv.zipextract done!
../data/nyiso/zips/20100801pal_csv.zipextract done!
../data/nyiso/zips/20050801pal_csv.zipextract done!
../data/nyiso/zips/20141201pal_csv.zipextract done!
../data/nyiso/zips/20080201pal_csv.zipextract done!
../data/nyiso/zips/20150801pal_csv.zipextract done!
../data/nyiso/zips/20061201pal_csv.zipextract done!
../data/nyiso/zips/20030701pal_csv.zipextract done!
../data/nyiso/zips/20120201pal_csv.zipextract done!
../data/nyiso/zips/20030301pal_csv.zipextract done!
../data/nyiso/zips/20050901pal_csv.zipextract done!
../data/nyiso/zips/20040701pal_csv.zipextract done!
../data/nyiso/zips/20101201pal_csv.zipextract done!
../data/nyiso/zips/20040601pal_csv.zipextract done!
../data/nyiso/zips/20010501pal_csv.zipextract done!
../data/nyiso/zips/20051101pal_csv.zipextract done!
../data/nyiso/zips/20070801pal_csv.zipextract done!
../data/nyiso/zips/20030201pal_csv.zipextract done!
../data/nyiso/zips/20110601pal_csv.zipextract done!
../data/nyiso/zips/20130101pal_csv.zipextract done!
../data/nyiso/zips/20060401pal_csv.zipextract done!
../data/nyiso/zips/20060901pal_csv.zipextract done!
../data/nyiso/zips/20020501pal_csv.zipextract done!
../data/nyiso/zips/20040101pal_csv.zipextract done!
../data/nyiso/zips/20120301pal_csv.zipextract done!
../data/nyiso/zips/20140201pal_csv.zipextract done!
../data/nyiso/zips/20030401pal_csv.zipextract done!
../data/nyiso/zips/20140601pal_csv.zipextract done!
../data/nyiso/zips/20060601pal_csv.zipextract done!
../data/nyiso/zips/20080501pal_csv.zipextract done!
../data/nyiso/zips/20100301pal_csv.zipextract done!
../data/nyiso/zips/20080901pal_csv.zipextract done!
../data/nyiso/zips/20121101pal_csv.zipextract done!
../data/nyiso/zips/20070501pal_csv.zipextract done!
../data/nyiso/zips/20031201pal_csv.zipextract done!
../data/nyiso/zips/20120801pal_csv.zipextract done!
../data/nyiso/zips/20061001pal_csv.zipextract done!
../data/nyiso/zips/20110901pal_csv.zipextract done!
../data/nyiso/zips/20151101pal_csv.zipextract done!
../data/nyiso/zips/20020701pal_csv.zipextract done!
../data/nyiso/zips/20110501pal_csv.zipextract done!
../data/nyiso/zips/20091101pal_csv.zipextract done!
../data/nyiso/zips/20071201pal_csv.zipextract done!
../data/nyiso/zips/20080101pal_csv.zipextract done!
../data/nyiso/zips/20091201pal_csv.zipextract done!
../data/nyiso/zips/20070701pal_csv.zipextract done!
../data/nyiso/zips/20020101pal_csv.zipextract done!
../data/nyiso/zips/20050701pal_csv.zipextract done!
../data/nyiso/zips/20031101pal_csv.zipextract done!
../data/nyiso/zips/20040201pal_csv.zipextract done!
../data/nyiso/zips/20110101pal_csv.zipextract done!
../data/nyiso/zips/20140701pal_csv.zipextract done!
../data/nyiso/zips/20090501pal_csv.zipextract done!
../data/nyiso/zips/20141001pal_csv.zipextract done!
../data/nyiso/zips/20020401pal_csv.zipextract done!
../data/nyiso/zips/20111001pal_csv.zipextract done!
../data/nyiso/zips/20011001pal_csv.zipextract done!
../data/nyiso/zips/20130901pal_csv.zipextract done!
../data/nyiso/zips/20120401pal_csv.zipextract done!
../data/nyiso/zips/20140501pal_csv.zipextract done!
../data/nyiso/zips/20041001pal_csv.zipextract done!
../data/nyiso/zips/20140901pal_csv.zipextract done!
../data/nyiso/zips/20140301pal_csv.zipextract done!
../data/nyiso/zips/20010601pal_csv.zipextract done!
../data/nyiso/zips/20060301pal_csv.zipextract done!
../data/nyiso/zips/20070901pal_csv.zipextract done!
../data/nyiso/zips/20100201pal_csv.zipextract done!
../data/nyiso/zips/20061101pal_csv.zipextract done!
../data/nyiso/zips/20030901pal_csv.zipextract done!
../data/nyiso/zips/20120901pal_csv.zipextract done!
../data/nyiso/zips/20081101pal_csv.zipextract done!
../data/nyiso/zips/20021001pal_csv.zipextract done!
../data/nyiso/zips/20081201pal_csv.zipextract done!
../data/nyiso/zips/20150301pal_csv.zipextract done!
../data/nyiso/zips/20090601pal_csv.zipextract done!
../data/nyiso/zips/20080701pal_csv.zipextract done!
../data/nyiso/zips/20011201pal_csv.zipextract done!
../data/nyiso/zips/20021101pal_csv.zipextract done!
../data/nyiso/zips/20041201pal_csv.zipextract done!
../data/nyiso/zips/20010701pal_csv.zipextract done!
../data/nyiso/zips/20090401pal_csv.zipextract done!
../data/nyiso/zips/20150101pal_csv.zipextract done!
../data/nyiso/zips/20020901pal_csv.zipextract done!
../data/nyiso/zips/20050501pal_csv.zipextract done!
../data/nyiso/zips/20150401pal_csv.zipextract done!
../data/nyiso/zips/20070201pal_csv.zipextract done!
../data/nyiso/zips/20091001pal_csv.zipextract done!
../data/nyiso/zips/20021201pal_csv.zipextract done!
../data/nyiso/zips/20100101pal_csv.zipextract done!
../data/nyiso/zips/20060201pal_csv.zipextract done!
../data/nyiso/zips/20130801pal_csv.zipextract done!
../data/nyiso/zips/20070601pal_csv.zipextract done!
../data/nyiso/zips/20140101pal_csv.zipextract done!
../data/nyiso/zips/20110301pal_csv.zipextract done!
../data/nyiso/zips/20060101pal_csv.zipextract done!
../data/nyiso/zips/20050601pal_csv.zipextract done!
../data/nyiso/zips/20111201pal_csv.zipextract done!
../data/nyiso/zips/20121201pal_csv.zipextract done!
../data/nyiso/zips/20030601pal_csv.zipextract done!
../data/nyiso/zips/20010901pal_csv.zipextract done!
../data/nyiso/zips/20150901pal_csv.zipextract done!
../data/nyiso/zips/20071101pal_csv.zipextract done!
../data/nyiso/zips/20020301pal_csv.zipextract done!
../data/nyiso/zips/20130301pal_csv.zipextract done!
../data/nyiso/zips/20100401pal_csv.zipextract done!
../data/nyiso/zips/20080601pal_csv.zipextract done!
../data/nyiso/zips/20060501pal_csv.zipextract done!
../data/nyiso/zips/20010801pal_csv.zipextract done!
../data/nyiso/zips/20081001pal_csv.zipextract done!
../data/nyiso/zips/20020201pal_csv.zipextract done!
../data/nyiso/zips/20040901pal_csv.zipextract done!
../data/nyiso/zips/20131201pal_csv.zipextract done!
../data/nyiso/zips/20090101pal_csv.zipextract done!
../data/nyiso/zips/20080801pal_csv.zipextract done!
../data/nyiso/zips/20090801pal_csv.zipextract done!
../data/nyiso/zips/20130701pal_csv.zipextract done!
../data/nyiso/zips/20130401pal_csv.zipextract done!
../data/nyiso/zips/20100701pal_csv.zipextract done!
../data/nyiso/zips/20100901pal_csv.zipextract done!
../data/nyiso/zips/20041101pal_csv.zipextract done!
../data/nyiso/zips/20110801pal_csv.zipextract done!
../data/nyiso/zips/20131101pal_csv.zipextract done!
../data/nyiso/zips/20071001pal_csv.zipextract done!
../data/nyiso/zips/20070101pal_csv.zipextract done!
../data/nyiso/zips/20040301pal_csv.zipextract done!
../data/nyiso/zips/20050101pal_csv.zipextract done!
../data/nyiso/zips/20150701pal_csv.zipextract done!
../data/nyiso/zips/20050301pal_csv.zipextract done!
../data/nyiso/zips/20051001pal_csv.zipextract done!
../data/nyiso/zips/20030501pal_csv.zipextract done!
../data/nyiso/zips/20120101pal_csv.zipextract done!
../data/nyiso/zips/20030101pal_csv.zipextract done!
../data/nyiso/zips/20090301pal_csv.zipextract done!
../data/nyiso/zips/20120701pal_csv.zipextract done!
../data/nyiso/zips/20060801pal_csv.zipextract done!
../data/nyiso/zips/20080401pal_csv.zipextract done!
../data/nyiso/zips/20040401pal_csv.zipextract done!
../data/nyiso/zips/20050401pal_csv.zipextract done!
../data/nyiso/zips/20130501pal_csv.zipextract done!
../data/nyiso/zips/20110701pal_csv.zipextract done!
../data/nyiso/zips/20150501pal_csv.zipextract done!
../data/nyiso/zips/20020601pal_csv.zipextract done!
../data/nyiso/zips/20120501pal_csv.zipextract done!

../data/nyiso/zips/20110401pal_csv.zipextract done!
../data/nyiso/zips/20090201pal_csv.zipextract done!
../data/nyiso/zips/20060701pal_csv.zipextract done!
../data/nyiso/zips/20150201pal_csv.zipextract done!
../data/nyiso/zips/20130201pal_csv.zipextract done!
../data/nyiso/zips/20151201pal_csv.zipextract done!
../data/nyiso/zips/20040801pal_csv.zipextract done!
../data/nyiso/zips/20051201pal_csv.zipextract done!
../data/nyiso/zips/20131001pal_csv.zipextract done!
../data/nyiso/zips/20070301pal_csv.zipextract done!
../data/nyiso/zips/20040501pal_csv.zipextract done!
../data/nyiso/zips/20090901pal_csv.zipextract done!
../data/nyiso/zips/20140801pal_csv.zipextract done!
../data/nyiso/zips/20151001pal_csv.zipextract done!
../data/nyiso/zips/20100501pal_csv.zipextract done!
../data/nyiso/zips/20141101pal_csv.zipextract done!
../data/nyiso/zips/20011101pal_csv.zipextract done!
../data/nyiso/zips/20110201pal_csv.zipextract done!

##### 所有文件整合到合并文件里：  combined_nyiso.csv

In [4]:
csvs = []
for file in os.listdir("../data/nyiso/all/raw_data"):
    if file.endswith("pal.csv"):
        csvs.append(file)

In [6]:
fout=open("../data/nyiso/all/combined_nyiso.csv","a")

# 第一个文件咱们保存头部column name信息:
for line in open("../data/nyiso/all/raw_data/"+csvs[0]):
    fout.write(line)
# 后面的部分可以跳过 headers:    
for file in csvs[1:]:
    f = open("../data/nyiso/all/raw_data/"+file)
    f.__next__() # 跳过 header
    for line in f:
         fout.write(line)
    f.close() # 关闭文件
fout.close()

#### 清洗和了解数据

In [7]:
df = pd.read_csv('../data/nyiso/all/combined_nyiso.csv')

In [9]:
cols = df.columns
cols

Index(['Time Stamp', 'Time Zone', 'Name', 'PTID', 'Load'], dtype='object')

In [10]:
df.columns = [col.lower().replace(' ', '') for col in cols]
df = df[['timestamp', 'name', 'ptid', 'load']]

In [11]:
df.to_csv('../data/nyiso/all/combined_iso.csv', index=False)

In [17]:
df.name.unique()

array(['CAPITL', 'CENTRL', 'DUNWOD', 'GENESE', 'HUD VL', 'LONGIL',
       'MHK VL', 'MILLWD', 'N.Y.C.', 'NORTH', 'WEST', 'N.Y.C._LONGIL'], dtype=object)

#### 建立天气站/weather stations的映射关系
我们的数据帧里区域的名称已经有了，我们要建立起它们和对应的城市还有天气站之间的映射关系

In [26]:
regions = list(df.name.unique())[:-1]
regions

['CAPITL',
 'CENTRL',
 'DUNWOD',
 'GENESE',
 'HUD VL',
 'LONGIL',
 'MHK VL',
 'MILLWD',
 'N.Y.C.',
 'NORTH',
 'WEST']

In [27]:
region_names = ['Capital', 'Central', 'Dunwoodie', 'Genese', 'Hudson Valley', 'Long Island', 'Mohawk Valley', 'Millwood', 'NYC', 'North', 'West']
cities = ['Albany', 'Syracuse', 'Yonkers', 'Rochester', 'Poughkeepsie', 'Huntington', 'Utica', 'Yorktown', 'NYC', 'Plattsburgh', 'Buffalo']
weather_stations = ['kalb', 'ksyr', 'kyon', 'kroc', 'kpou', 'khun', 'kuti', 'kyor', 'kjfk', 'kpbg', 'kbuf']

In [28]:
weather_dict = dict(zip(regions, zip(weather_stations, region_names, cities)))
weather_dict

{'CAPITL': ('kalb', 'Capital', 'Albany'),
 'CENTRL': ('ksyr', 'Central', 'Syracuse'),
 'DUNWOD': ('kyon', 'Dunwoodie', 'Yonkers'),
 'GENESE': ('kroc', 'Genese', 'Rochester'),
 'HUD VL': ('kpou', 'Hudson Valley', 'Poughkeepsie'),
 'LONGIL': ('khun', 'Long Island', 'Huntington'),
 'MHK VL': ('kuti', 'Mohawk Valley', 'Utica'),
 'MILLWD': ('kyor', 'Millwood', 'Yorktown'),
 'N.Y.C.': ('kjfk', 'NYC', 'NYC'),
 'NORTH': ('kpbg', 'North', 'Plattsburgh'),
 'WEST': ('kbuf', 'West', 'Buffalo')}

In [31]:
df.tail()

                    timestamp    name     ptid    load
17932770  04/24/2012 23:55:00  MHK VL  61756.0   723.1
17932771  04/24/2012 23:55:00  MILLWD  61759.0   244.9
17932772  04/24/2012 23:55:00  N.Y.C.  61761.0  4829.8
17932773  04/24/2012 23:55:00   NORTH  61755.0   710.3
17932774  04/24/2012 23:55:00    WEST  61752.0  1697.9

In [2]:
df = pd.read_csv('../data/nyiso/all/combined_iso.csv')

In [3]:
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%m/%d/%Y %H:%M:%S')

In [6]:
df.head(100)

             timestamp    name     ptid    load
0  2011-09-20 00:00:00  CAPITL  61757.0  1003.8
1  2011-09-20 00:00:00  CENTRL  61754.0  1439.3
2  2011-09-20 00:00:00  DUNWOD  61760.0   513.7
3  2011-09-20 00:00:00  GENESE  61753.0   910.5
4  2011-09-20 00:00:00  HUD VL  61758.0   852.9
5  2011-09-20 00:00:00  LONGIL  61762.0  1942.3
6  2011-09-20 00:00:00  MHK VL  61756.0   620.2
7  2011-09-20 00:00:00  MILLWD  61759.0   271.6
8  2011-09-20 00:00:00  N.Y.C.  61761.0  4909.7
9  2011-09-20 00:00:00   NORTH  61755.0   675.2
10 2011-09-20 00:00:00    WEST  61752.0  1479.5
11 2011-09-20 00:05:00  CAPITL  61757.0  1003.7
12 2011-09-20 00:05:00  CENTRL  61754.0  1432.4
13 2011-09-20 00:05:00  DUNWOD  61760.0   506.4
14 2011-09-20 00:05:00  GENESE  61753.0   903.4
15 2011-09-20 00:05:00  HUD VL  61758.0   854.0
16 2011-09-20 00:05:00  LONGIL  61762.0  1920.2
17 2011-09-20 00:05:00  MHK VL  61756.0   624.2
18 2011-09-20 00:05:00  MILLWD  61759.0   275.7
19 2011-09-20 00:05:00  N.Y.C.  61761.0  4896.6
20 2011-09-20 00:05:00   NORTH  61755.0   675.6
21 2011-09-20 00:05:00    WEST  61752.0  1464.5
22 2011-09-20 00:10:00  CAPITL  61757.0  1001.2
23 2011-09-20 00:10:00  CENTRL  61754.0  1467.1
24 2011-09-20 00:10:00  DUNWOD  61760.0   498.0
25 2011-09-20 00:10:00  GENESE  61753.0   893.9
26 2011-09-20 00:10:00  HUD VL  61758.0   859.5
27 2011-09-20 00:10:00  LONGIL  61762.0  1915.6
28 2011-09-20 00:10:00  MHK VL  61756.0   614.7
29 2011-09-20 00:10:00  MILLWD  61759.0   274.9
..                 ...     ...      ...     ...
70 2011-09-20 00:30:00  HUD VL  61758.0   825.9
71 2011-09-20 00:30:00  LONGIL  61762.0  1887.5
72 2011-09-20 00:30:00  MHK VL  61756.0   624.5
73 2011-09-20 00:30:00  MILLWD  61759.0   263.1
74 2011-09-20 00:30:00  N.Y.C.  61761.0  4692.0
75 2011-09-20 00:30:00   NORTH  61755.0   671.8
76 2011-09-20 00:30:00    WEST  61752.0  1408.5
77 2011-09-20 00:35:00  CAPITL  61757.0   988.5
78 2011-09-20 00:35:00  CENTRL  61754.0  1426.7
79 2011-09-20 00:35:00  DUNWOD  61760.0   486.3
80 2011-09-20 00:35:00  GENESE  61753.0   881.6
81 2011-09-20 00:35:00  HUD VL  61758.0   814.0
82 2011-09-20 00:35:00  LONGIL  61762.0  1850.7
83 2011-09-20 00:35:00  MHK VL  61756.0   619.8
84 2011-09-20 00:35:00  MILLWD  61759.0   258.3
85 2011-09-20 00:35:00  N.Y.C.  61761.0  4659.8
86 2011-09-20 00:35:00   NORTH  61755.0   678.3
87 2011-09-20 00:35:00    WEST  61752.0  1410.1
88 2011-09-20 00:40:00  CAPITL  61757.0   984.3
89 2011-09-20 00:40:00  CENTRL  61754.0  1455.0
90 2011-09-20 00:40:00  DUNWOD  61760.0   481.0
91 2011-09-20 00:40:00  GENESE  61753.0   875.9
92 2011-09-20 00:40:00  HUD VL  61758.0   826.6
93 2011-09-20 00:40:00  LONGIL  61762.0  1829.6
94 2011-09-20 00:40:00  MHK VL  61756.0   616.7
95 2011-09-20 00:40:00  MILLWD  61759.0   252.2
96 2011-09-20 00:40:00  N.Y.C.  61761.0  4635.3
97 2011-09-20 00:40:00   NORTH  61755.0   649.5
98 2011-09-20 00:40:00    WEST  61752.0  1401.6
99 2011-09-20 00:45:00  CAPITL  61757.0   969.4

[100 rows x 4 columns]

In [7]:
df_sorted = df.sort_values(by=['timestamp'])

In [8]:
df_sorted.head(100)

                   timestamp           name     ptid    load
17865851 2001-05-26 00:00:00         HUD VL  61758.0   970.0
17865856 2001-05-26 00:00:00           WEST  61752.0  1505.0
17865855 2001-05-26 00:00:00          NORTH  61755.0   659.0
17865847 2001-05-26 00:00:00         CAPITL  61757.0   985.0
17865848 2001-05-26 00:00:00         CENTRL  61754.0  1461.0
17865849 2001-05-26 00:00:00         DUNWOD  61760.0   443.0
17865850 2001-05-26 00:00:00         GENESE  61753.0   830.0
17865854 2001-05-26 00:00:00  N.Y.C._LONGIL      NaN  6217.0
17865852 2001-05-26 00:00:00         MHK VL  61756.0   623.0
17865853 2001-05-26 00:00:00         MILLWD  61759.0   166.0
17865862 2001-05-26 00:00:50         MHK VL  61756.0   614.0
17865861 2001-05-26 00:00:50         HUD VL  61758.0   990.0
17865860 2001-05-26 00:00:50         GENESE  61753.0   818.0
17865859 2001-05-26 00:00:50         DUNWOD  61760.0   455.0
17865858 2001-05-26 00:00:50         CENTRL  61754.0  1455.0
17865865 2001-05-26 00:00:50          NORTH  61755.0   636.0
17865857 2001-05-26 00:00:50         CAPITL  61757.0   995.0
17865866 2001-05-26 00:00:50           WEST  61752.0  1474.0
17865863 2001-05-26 00:00:50         MILLWD  61759.0   150.0
17865864 2001-05-26 00:00:50  N.Y.C._LONGIL      NaN  6174.0
17865867 2001-05-26 00:05:20         CAPITL  61757.0   980.0
17865868 2001-05-26 00:05:20         CENTRL  61754.0  1447.0
17865869 2001-05-26 00:05:20         DUNWOD  61760.0   441.0
17865870 2001-05-26 00:05:20         GENESE  61753.0   816.0
17865872 2001-05-26 00:05:20         MHK VL  61756.0   605.0
17865873 2001-05-26 00:05:20         MILLWD  61759.0   158.0
17865874 2001-05-26 00:05:20  N.Y.C._LONGIL      NaN  6158.0
17865871 2001-05-26 00:05:20         HUD VL  61758.0   980.0
17865875 2001-05-26 00:05:20          NORTH  61755.0   649.0
17865876 2001-05-26 00:05:20           WEST  61752.0  1484.0
...                      ...            ...      ...     ...
17865918 2001-05-26 00:23:20         CENTRL  61754.0  1429.0
17865919 2001-05-26 00:23:20         DUNWOD  61760.0   429.0
17865920 2001-05-26 00:23:20         GENESE  61753.0   794.0
17865921 2001-05-26 00:23:20         HUD VL  61758.0   944.0
17865922 2001-05-26 00:23:20         MHK VL  61756.0   588.0
17865923 2001-05-26 00:23:20         MILLWD  61759.0   152.0
17865925 2001-05-26 00:23:20          NORTH  61755.0   647.0
17865926 2001-05-26 00:23:20           WEST  61752.0  1436.0
17865924 2001-05-26 00:23:20  N.Y.C._LONGIL      NaN  6114.0
17865917 2001-05-26 00:23:20         CAPITL  61757.0   941.0
17865934 2001-05-26 00:28:20  N.Y.C._LONGIL      NaN  6101.0
17865936 2001-05-26 00:28:20           WEST  61752.0  1462.0
17865935 2001-05-26 00:28:20          NORTH  61755.0   648.0
17865933 2001-05-26 00:28:20         MILLWD  61759.0   149.0
17865932 2001-05-26 00:28:20         MHK VL  61756.0   596.0
17865931 2001-05-26 00:28:20         HUD VL  61758.0   925.0
17865930 2001-05-26 00:28:20         GENESE  61753.0   788.0
17865928 2001-05-26 00:28:20         CENTRL  61754.0  1425.0
17865927 2001-05-26 00:28:20         CAPITL  61757.0   931.0
17865929 2001-05-26 00:28:20         DUNWOD  61760.0   427.0
17865946 2001-05-26 00:33:20           WEST  61752.0  1444.0
17865939 2001-05-26 00:33:20         DUNWOD  61760.0   423.0
17865942 2001-05-26 00:33:20         MHK VL  61756.0   598.0
17865943 2001-05-26 00:33:20         MILLWD  61759.0   144.0
17865944 2001-05-26 00:33:20  N.Y.C._LONGIL      NaN  5923.0
17865941 2001-05-26 00:33:20         HUD VL  61758.0   939.0
17865937 2001-05-26 00:33:20         CAPITL  61757.0   932.0
17865938 2001-05-26 00:33:20         CENTRL  61754.0  1395.0
17865945 2001-05-26 00:33:20          NORTH  61755.0   639.0
17865940 2001-05-26 00:33:20         GENESE  61753.0   775.0

[100 rows x 4 columns]

In [14]:
df_sorted.to_csv('../data/nyiso/all/combined_iso_sorted.csv', index=False)

In [15]:
df_sorted_north.head()

                   timestamp   name     ptid   load
17865855 2001-05-26 00:00:00  NORTH  61755.0  659.0
17865865 2001-05-26 00:00:50  NORTH  61755.0  636.0
17865875 2001-05-26 00:05:20  NORTH  61755.0  649.0
17865885 2001-05-26 00:06:50  NORTH  61755.0  646.0
17865895 2001-05-26 00:11:50  NORTH  61755.0  647.0

In [16]:
df_sorted_north2 = df_sorted_north[df_sorted_north.timestamp > pd.to_datetime('2012-10-27')]
df_sorted_north2 = df_sorted_north2[df_sorted_north2.timestamp < pd.to_datetime('2016-01-01')]
df_sorted_north2.head()

                  timestamp   name     ptid   load
8470880 2012-10-27 00:05:00  NORTH  61755.0  700.7
8470891 2012-10-27 00:10:00  NORTH  61755.0  694.7
8470902 2012-10-27 00:15:00  NORTH  61755.0  692.8
8470913 2012-10-27 00:20:00  NORTH  61755.0  686.5
8470924 2012-10-27 00:25:00  NORTH  61755.0  685.3

In [17]:
df_sorted_north2.head(300)

                   timestamp   name     ptid   load
8470880  2012-10-27 00:05:00  NORTH  61755.0  700.7
8470891  2012-10-27 00:10:00  NORTH  61755.0  694.7
8470902  2012-10-27 00:15:00  NORTH  61755.0  692.8
8470913  2012-10-27 00:20:00  NORTH  61755.0  686.5
8470924  2012-10-27 00:25:00  NORTH  61755.0  685.3
8470935  2012-10-27 00:30:00  NORTH  61755.0  677.6
8470946  2012-10-27 00:35:00  NORTH  61755.0  681.2
8470957  2012-10-27 00:40:00  NORTH  61755.0  676.9
8470968  2012-10-27 00:45:00  NORTH  61755.0  673.4
8470979  2012-10-27 00:50:00  NORTH  61755.0  682.4
8470990  2012-10-27 00:55:00  NORTH  61755.0  689.0
8471001  2012-10-27 01:00:00  NORTH  61755.0  680.3
8471012  2012-10-27 01:05:00  NORTH  61755.0  678.7
8471023  2012-10-27 01:10:00  NORTH  61755.0  676.5
8471034  2012-10-27 01:15:00  NORTH  61755.0  677.9
8471045  2012-10-27 01:20:00  NORTH  61755.0  671.8
8471056  2012-10-27 01:25:00  NORTH  61755.0  672.6
8471067  2012-10-27 01:30:00  NORTH  61755.0  678.3
8471078  2012-10-27 01:35:00  NORTH  61755.0  679.8
8471089  2012-10-27 01:40:00  NORTH  61755.0  676.0
8471100  2012-10-27 01:45:00  NORTH  61755.0  680.7
8471111  2012-10-27 01:50:00  NORTH  61755.0  682.7
8471122  2012-10-27 01:55:00  NORTH  61755.0  674.5
8471133  2012-10-27 02:00:00  NORTH  61755.0  674.9
8471144  2012-10-27 02:05:00  NORTH  61755.0  671.7
8471155  2012-10-27 02:10:00  NORTH  61755.0  670.7
8471166  2012-10-27 02:15:00  NORTH  61755.0  681.8
8471177  2012-10-27 02:20:00  NORTH  61755.0  674.5
8471188  2012-10-27 02:25:00  NORTH  61755.0  675.9
8471199  2012-10-27 02:30:00  NORTH  61755.0  676.4
...                      ...    ...      ...    ...
8473850  2012-10-27 22:25:00  NORTH  61755.0  700.8
8473861  2012-10-27 22:30:00  NORTH  61755.0  708.8
8473872  2012-10-27 22:35:00  NORTH  61755.0  701.3
8473883  2012-10-27 22:40:00  NORTH  61755.0  702.9
8473894  2012-10-27 22:45:00  NORTH  61755.0  701.7
8473905  2012-10-27 22:50:00  NORTH  61755.0  694.7
8473916  2012-10-27 22:55:00  NORTH  61755.0  696.3
8473927  2012-10-27 23:00:00  NORTH  61755.0  690.7
8473938  2012-10-27 23:05:00  NORTH  61755.0  686.3
8473949  2012-10-27 23:10:00  NORTH  61755.0  706.3
8473960  2012-10-27 23:15:00  NORTH  61755.0  697.9
8473971  2012-10-27 23:20:00  NORTH  61755.0  699.9
8473982  2012-10-27 23:25:00  NORTH  61755.0  699.6
8473993  2012-10-27 23:30:00  NORTH  61755.0  694.7
8474004  2012-10-27 23:35:00  NORTH  61755.0  694.7
8474015  2012-10-27 23:40:00  NORTH  61755.0  699.5
8474026  2012-10-27 23:45:00  NORTH  61755.0  695.6
8474037  2012-10-27 23:50:00  NORTH  61755.0  695.6
8474048  2012-10-27 23:55:00  NORTH  61755.0  690.1
16332878 2012-10-28 00:00:00  NORTH  61755.0  683.0
16332889 2012-10-28 00:05:00  NORTH  61755.0  688.4
16332900 2012-10-28 00:10:00  NORTH  61755.0  680.5
16332911 2012-10-28 00:15:00  NORTH  61755.0  673.0
16332922 2012-10-28 00:20:00  NORTH  61755.0  677.5
16332933 2012-10-28 00:25:00  NORTH  61755.0  681.9
16332944 2012-10-28 00:30:00  NORTH  61755.0  679.2
16332955 2012-10-28 00:35:00  NORTH  61755.0  692.1
16332966 2012-10-28 00:40:00  NORTH  61755.0  667.0
16332977 2012-10-28 00:45:00  NORTH  61755.0  667.3
16332988 2012-10-28 00:50:00  NORTH  61755.0  680.5

[300 rows x 4 columns]

In [18]:
df_sorted_north2.tail()

                  timestamp   name     ptid   load
7749594 2015-12-31 23:35:00  NORTH  61755.0  495.0
7749605 2015-12-31 23:40:00  NORTH  61755.0  484.9
7749616 2015-12-31 23:45:00  NORTH  61755.0  489.4
7749627 2015-12-31 23:50:00  NORTH  61755.0  486.4
7749638 2015-12-31 23:55:00  NORTH  61755.0  494.9

In [19]:
df_sorted_north2.to_csv('../data/nyiso/all/north.csv')

In [20]:
df_sorted_north2.shape

(338795, 4)