In [2]:
import zipfile
import os
import pandas as pd
import numpy as np

#### 解压缩打包文件 ../data/nyiso/all/raw_data 文件夹

In [2]:
def unzip(source_filename, dest_dir):
    with zipfile.ZipFile(source_filename) as zf:
        try:
            zf.extractall(dest_dir)
        except:
            print(source_filename)
            return

In [3]:
zips = []
for file in os.listdir("../data/nyiso/zips"):
    if file.endswith(".zip"):
        zips.append(file)
for z in zips:
    try:
        unzip('../data/nyiso/zips/' + z, '../data/nyiso/all/raw_data')
        print('../data/nyiso/zips/' + z + "extract done!")
    except:
        print('./data/nyiso/zips/' + z)
        continue

../data/nyiso/zips/20120601pal_csv.zipextract done!
../data/nyiso/zips/20031001pal_csv.zipextract done!
../data/nyiso/zips/20020801pal_csv.zipextract done!
../data/nyiso/zips/20121001pal_csv.zipextract done!
../data/nyiso/zips/20080301pal_csv.zipextract done!
../data/nyiso/zips/20030801pal_csv.zipextract done!
../data/nyiso/zips/20150601pal_csv.zipextract done!
../data/nyiso/zips/20070401pal_csv.zipextract done!
../data/nyiso/zips/20101101pal_csv.zipextract done!
../data/nyiso/zips/20130601pal_csv.zipextract done!
../data/nyiso/zips/20140401pal_csv.zipextract done!
../data/nyiso/zips/20101001pal_csv.zipextract done!
../data/nyiso/zips/20050201pal_csv.zipextract done!
../data/nyiso/zips/20090701pal_csv.zipextract done!
../data/nyiso/zips/20111101pal_csv.zipextract done!
../data/nyiso/zips/20100601pal_csv.zipextract done!
../data/nyiso/zips/20100801pal_csv.zipextract done!
../data/nyiso/zips/20050801pal_csv.zipextract done!
../data/nyiso/zips/20141201pal_csv.zipextract done!
../data/nyiso/zips/20080201pal_csv.zipextract done!
../data/nyiso/zips/20150801pal_csv.zipextract done!
../data/nyiso/zips/20061201pal_csv.zipextract done!
../data/nyiso/zips/20030701pal_csv.zipextract done!
../data/nyiso/zips/20120201pal_csv.zipextract done!
../data/nyiso/zips/20030301pal_csv.zipextract done!
../data/nyiso/zips/20050901pal_csv.zipextract done!
../data/nyiso/zips/20040701pal_csv.zipextract done!
../data/nyiso/zips/20101201pal_csv.zipextract done!
../data/nyiso/zips/20040601pal_csv.zipextract done!
../data/nyiso/zips/20010501pal_csv.zipextract done!
../data/nyiso/zips/20051101pal_csv.zipextract done!
../data/nyiso/zips/20070801pal_csv.zipextract done!
../data/nyiso/zips/20030201pal_csv.zipextract done!
../data/nyiso/zips/20110601pal_csv.zipextract done!
../data/nyiso/zips/20130101pal_csv.zipextract done!
../data/nyiso/zips/20060401pal_csv.zipextract done!
../data/nyiso/zips/20060901pal_csv.zipextract done!
../data/nyiso/zips/20020501pal_csv.zipextract done!
../data/nyiso/zips/20040101pal_csv.zipextract done!
../data/nyiso/zips/20120301pal_csv.zipextract done!
../data/nyiso/zips/20140201pal_csv.zipextract done!
../data/nyiso/zips/20030401pal_csv.zipextract done!
../data/nyiso/zips/20140601pal_csv.zipextract done!
../data/nyiso/zips/20060601pal_csv.zipextract done!
../data/nyiso/zips/20080501pal_csv.zipextract done!
../data/nyiso/zips/20100301pal_csv.zipextract done!
../data/nyiso/zips/20080901pal_csv.zipextract done!
../data/nyiso/zips/20121101pal_csv.zipextract done!
../data/nyiso/zips/20070501pal_csv.zipextract done!
../data/nyiso/zips/20031201pal_csv.zipextract done!
../data/nyiso/zips/20120801pal_csv.zipextract done!
../data/nyiso/zips/20061001pal_csv.zipextract done!
../data/nyiso/zips/20110901pal_csv.zipextract done!
../data/nyiso/zips/20151101pal_csv.zipextract done!
../data/nyiso/zips/20020701pal_csv.zipextract done!
../data/nyiso/zips/20110501pal_csv.zipextract done!
../data/nyiso/zips/20091101pal_csv.zipextract done!
../data/nyiso/zips/20071201pal_csv.zipextract done!
../data/nyiso/zips/20080101pal_csv.zipextract done!
../data/nyiso/zips/20091201pal_csv.zipextract done!
../data/nyiso/zips/20070701pal_csv.zipextract done!
../data/nyiso/zips/20020101pal_csv.zipextract done!
../data/nyiso/zips/20050701pal_csv.zipextract done!
../data/nyiso/zips/20031101pal_csv.zipextract done!
../data/nyiso/zips/20040201pal_csv.zipextract done!
../data/nyiso/zips/20110101pal_csv.zipextract done!
../data/nyiso/zips/20140701pal_csv.zipextract done!
../data/nyiso/zips/20090501pal_csv.zipextract done!
../data/nyiso/zips/20141001pal_csv.zipextract done!
../data/nyiso/zips/20020401pal_csv.zipextract done!
../data/nyiso/zips/20111001pal_csv.zipextract done!
../data/nyiso/zips/20011001pal_csv.zipextract done!
../data/nyiso/zips/20130901pal_csv.zipextract done!
../data/nyiso/zips/20120401pal_csv.zipextract done!
../data/nyiso/zips/20140501pal_csv.zipextract done!
../data/nyiso/zips/20041001pal_csv.zipextract done!
../data/nyiso/zips/20140901pal_csv.zipextract done!
../data/nyiso/zips/20140301pal_csv.zipextract done!
../data/nyiso/zips/20010601pal_csv.zipextract done!
../data/nyiso/zips/20060301pal_csv.zipextract done!
../data/nyiso/zips/20070901pal_csv.zipextract done!
../data/nyiso/zips/20100201pal_csv.zipextract done!
../data/nyiso/zips/20061101pal_csv.zipextract done!
../data/nyiso/zips/20030901pal_csv.zipextract done!
../data/nyiso/zips/20120901pal_csv.zipextract done!
../data/nyiso/zips/20081101pal_csv.zipextract done!
../data/nyiso/zips/20021001pal_csv.zipextract done!
../data/nyiso/zips/20081201pal_csv.zipextract done!
../data/nyiso/zips/20150301pal_csv.zipextract done!
../data/nyiso/zips/20090601pal_csv.zipextract done!
../data/nyiso/zips/20080701pal_csv.zipextract done!
../data/nyiso/zips/20011201pal_csv.zipextract done!
../data/nyiso/zips/20021101pal_csv.zipextract done!
../data/nyiso/zips/20041201pal_csv.zipextract done!
../data/nyiso/zips/20010701pal_csv.zipextract done!
../data/nyiso/zips/20090401pal_csv.zipextract done!
../data/nyiso/zips/20150101pal_csv.zipextract done!
../data/nyiso/zips/20020901pal_csv.zipextract done!
../data/nyiso/zips/20050501pal_csv.zipextract done!
../data/nyiso/zips/20150401pal_csv.zipextract done!
../data/nyiso/zips/20070201pal_csv.zipextract done!
../data/nyiso/zips/20091001pal_csv.zipextract done!
../data/nyiso/zips/20021201pal_csv.zipextract done!
../data/nyiso/zips/20100101pal_csv.zipextract done!
../data/nyiso/zips/20060201pal_csv.zipextract done!
../data/nyiso/zips/20130801pal_csv.zipextract done!
../data/nyiso/zips/20070601pal_csv.zipextract done!
../data/nyiso/zips/20140101pal_csv.zipextract done!
../data/nyiso/zips/20110301pal_csv.zipextract done!
../data/nyiso/zips/20060101pal_csv.zipextract done!
../data/nyiso/zips/20050601pal_csv.zipextract done!
../data/nyiso/zips/20111201pal_csv.zipextract done!
../data/nyiso/zips/20121201pal_csv.zipextract done!
../data/nyiso/zips/20030601pal_csv.zipextract done!
../data/nyiso/zips/20010901pal_csv.zipextract done!
../data/nyiso/zips/20150901pal_csv.zipextract done!
../data/nyiso/zips/20071101pal_csv.zipextract done!
../data/nyiso/zips/20020301pal_csv.zipextract done!
../data/nyiso/zips/20130301pal_csv.zipextract done!
../data/nyiso/zips/20100401pal_csv.zipextract done!
../data/nyiso/zips/20080601pal_csv.zipextract done!
../data/nyiso/zips/20060501pal_csv.zipextract done!
../data/nyiso/zips/20010801pal_csv.zipextract done!
../data/nyiso/zips/20081001pal_csv.zipextract done!
../data/nyiso/zips/20020201pal_csv.zipextract done!
../data/nyiso/zips/20040901pal_csv.zipextract done!
../data/nyiso/zips/20131201pal_csv.zipextract done!
../data/nyiso/zips/20090101pal_csv.zipextract done!
../data/nyiso/zips/20080801pal_csv.zipextract done!
../data/nyiso/zips/20090801pal_csv.zipextract done!
../data/nyiso/zips/20130701pal_csv.zipextract done!
../data/nyiso/zips/20130401pal_csv.zipextract done!
../data/nyiso/zips/20100701pal_csv.zipextract done!
../data/nyiso/zips/20100901pal_csv.zipextract done!
../data/nyiso/zips/20041101pal_csv.zipextract done!
../data/nyiso/zips/20110801pal_csv.zipextract done!
../data/nyiso/zips/20131101pal_csv.zipextract done!
../data/nyiso/zips/20071001pal_csv.zipextract done!
../data/nyiso/zips/20070101pal_csv.zipextract done!
../data/nyiso/zips/20040301pal_csv.zipextract done!
../data/nyiso/zips/20050101pal_csv.zipextract done!
../data/nyiso/zips/20150701pal_csv.zipextract done!
../data/nyiso/zips/20050301pal_csv.zipextract done!
../data/nyiso/zips/20051001pal_csv.zipextract done!
../data/nyiso/zips/20030501pal_csv.zipextract done!
../data/nyiso/zips/20120101pal_csv.zipextract done!
../data/nyiso/zips/20030101pal_csv.zipextract done!
../data/nyiso/zips/20090301pal_csv.zipextract done!
../data/nyiso/zips/20120701pal_csv.zipextract done!
../data/nyiso/zips/20060801pal_csv.zipextract done!
../data/nyiso/zips/20080401pal_csv.zipextract done!
../data/nyiso/zips/20040401pal_csv.zipextract done!
../data/nyiso/zips/20050401pal_csv.zipextract done!
../data/nyiso/zips/20130501pal_csv.zipextract done!
../data/nyiso/zips/20110701pal_csv.zipextract done!
../data/nyiso/zips/20150501pal_csv.zipextract done!
../data/nyiso/zips/20020601pal_csv.zipextract done!
../data/nyiso/zips/20120501pal_csv.zipextract done!

../data/nyiso/zips/20110401pal_csv.zipextract done!
../data/nyiso/zips/20090201pal_csv.zipextract done!
../data/nyiso/zips/20060701pal_csv.zipextract done!
../data/nyiso/zips/20150201pal_csv.zipextract done!
../data/nyiso/zips/20130201pal_csv.zipextract done!
../data/nyiso/zips/20151201pal_csv.zipextract done!
../data/nyiso/zips/20040801pal_csv.zipextract done!
../data/nyiso/zips/20051201pal_csv.zipextract done!
../data/nyiso/zips/20131001pal_csv.zipextract done!
../data/nyiso/zips/20070301pal_csv.zipextract done!
../data/nyiso/zips/20040501pal_csv.zipextract done!
../data/nyiso/zips/20090901pal_csv.zipextract done!
../data/nyiso/zips/20140801pal_csv.zipextract done!
../data/nyiso/zips/20151001pal_csv.zipextract done!
../data/nyiso/zips/20100501pal_csv.zipextract done!
../data/nyiso/zips/20141101pal_csv.zipextract done!
../data/nyiso/zips/20011101pal_csv.zipextract done!
../data/nyiso/zips/20110201pal_csv.zipextract done!

##### 所有文件整合到合并文件里：  combined_nyiso.csv

In [4]:
csvs = []
for file in os.listdir("../data/nyiso/all/raw_data"):
    if file.endswith("pal.csv"):
        csvs.append(file)

In [6]:
fout=open("../data/nyiso/all/combined_nyiso.csv","a")

# 第一个文件咱们保存头部column name信息:
for line in open("../data/nyiso/all/raw_data/"+csvs[0]):
    fout.write(line)
# 后面的部分可以跳过 headers:    
for file in csvs[1:]:
    f = open("../data/nyiso/all/raw_data/"+file)
    f.__next__() # 跳过 header
    for line in f:
         fout.write(line)
    f.close() # 关闭文件
fout.close()

#### 清洗和了解数据

In [7]:
df = pd.read_csv('../data/nyiso/all/combined_nyiso.csv')

In [9]:
cols = df.columns
cols

Index(['Time Stamp', 'Time Zone', 'Name', 'PTID', 'Load'], dtype='object')

In [10]:
df.columns = [col.lower().replace(' ', '') for col in cols]
df = df[['timestamp', 'name', 'ptid', 'load']]

In [11]:
df.to_csv('../data/nyiso/all/combined_iso.csv', index=False)

In [17]:
df.name.unique()

array(['CAPITL', 'CENTRL', 'DUNWOD', 'GENESE', 'HUD VL', 'LONGIL',
       'MHK VL', 'MILLWD', 'N.Y.C.', 'NORTH', 'WEST', 'N.Y.C._LONGIL'], dtype=object)

#### 建立天气站/weather stations的映射关系
我们的数据帧里区域的名称已经有了，我们要建立起它们和对应的城市还有天气站之间的映射关系

In [26]:
regions = list(df.name.unique())[:-1]
regions

['CAPITL',
 'CENTRL',
 'DUNWOD',
 'GENESE',
 'HUD VL',
 'LONGIL',
 'MHK VL',
 'MILLWD',
 'N.Y.C.',
 'NORTH',
 'WEST']

In [27]:
region_names = ['Capital', 'Central', 'Dunwoodie', 'Genese', 'Hudson Valley', 'Long Island', 'Mohawk Valley', 'Millwood', 'NYC', 'North', 'West']
cities = ['Albany', 'Syracuse', 'Yonkers', 'Rochester', 'Poughkeepsie', 'Huntington', 'Utica', 'Yorktown', 'NYC', 'Plattsburgh', 'Buffalo']
weather_stations = ['kalb', 'ksyr', 'kyon', 'kroc', 'kpou', 'khun', 'kuti', 'kyor', 'kjfk', 'kpbg', 'kbuf']

In [28]:
weather_dict = dict(zip(regions, zip(weather_stations, region_names, cities)))
weather_dict

{'CAPITL': ('kalb', 'Capital', 'Albany'),
 'CENTRL': ('ksyr', 'Central', 'Syracuse'),
 'DUNWOD': ('kyon', 'Dunwoodie', 'Yonkers'),
 'GENESE': ('kroc', 'Genese', 'Rochester'),
 'HUD VL': ('kpou', 'Hudson Valley', 'Poughkeepsie'),
 'LONGIL': ('khun', 'Long Island', 'Huntington'),
 'MHK VL': ('kuti', 'Mohawk Valley', 'Utica'),
 'MILLWD': ('kyor', 'Millwood', 'Yorktown'),
 'N.Y.C.': ('kjfk', 'NYC', 'NYC'),
 'NORTH': ('kpbg', 'North', 'Plattsburgh'),
 'WEST': ('kbuf', 'West', 'Buffalo')}

In [31]:
df.tail()

                    timestamp    name     ptid    load
17932770  04/24/2012 23:55:00  MHK VL  61756.0   723.1
17932771  04/24/2012 23:55:00  MILLWD  61759.0   244.9
17932772  04/24/2012 23:55:00  N.Y.C.  61761.0  4829.8
17932773  04/24/2012 23:55:00   NORTH  61755.0   710.3
17932774  04/24/2012 23:55:00    WEST  61752.0  1697.9

In [9]:
df = pd.read_csv('../data/nyiso/all/combined_iso.csv')

In [10]:
df_sorted = df.sort_values(by=['timestamp'])

In [11]:
df_sorted.to_csv('../data/nyiso/all/combined_iso_sorted.csv', index=False)

In [13]:
df = pd.read_csv('../data/nyiso/all/combined_iso_sorted.csv', index_col=0)
df.head()

                       name     ptid    load
timestamp
01/01/2002 00:00:00   NORTH  61755.0   788.0
01/01/2002 00:00:00  CAPITL  61757.0  1250.0
01/01/2002 00:00:00  CENTRL  61754.0  1833.0
01/01/2002 00:00:00  DUNWOD  61760.0   544.0
01/01/2002 00:00:00  GENESE  61753.0  1056.0

In [21]:
short_df = df.loc['10/27/2012':]

In [22]:
short_df.head()

                       name     ptid    load
timestamp
10/27/2012 00:00:00  N.Y.C.  61761.0  4973.6
10/27/2012 00:00:00  MILLWD  61759.0   251.9
10/27/2012 00:00:00  MHK VL  61756.0   636.6
10/27/2012 00:00:00  CENTRL  61754.0  1435.7
10/27/2012 00:00:00  DUNWOD  61760.0   534.8

In [23]:
short_df.tail()

                       name     ptid    load
timestamp
12/31/2015 23:55:00  DUNWOD  61760.0   616.3
12/31/2015 23:55:00  CENTRL  61754.0  1609.5
12/31/2015 23:55:00  CAPITL  61757.0  1202.0
12/31/2015 23:55:00  LONGIL  61762.0  2119.6
12/31/2015 23:55:00    WEST  61752.0  1704.1

In [24]:
short_df_north = short_df[short_df.name == 'NORTH']

In [26]:
short_df_north.to_csv('../data/nyiso/all/north.csv')

In [27]:
short_df_north = pd.read_csv('../data/nyiso/all/north.csv', index_col=0)
short_df_north.shape

(309595, 3)

In [29]:
short_df_north.head()

                      name     ptid   load
timestamp
10/27/2012 00:00:00  NORTH  61755.0  696.6
10/27/2012 00:05:00  NORTH  61755.0  700.7
10/27/2012 00:10:00  NORTH  61755.0  694.7
10/27/2012 00:15:00  NORTH  61755.0  692.8
10/27/2012 00:20:00  NORTH  61755.0  686.5