In [1]:
import pandas as pd
import numpy as np

churn_df = pd.read_csv('churn.csv')
col_names = churn_df.columns.tolist()
print('columns_names:')
print(col_names)
churn_df.head()

columns_names:
['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan", 'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge', 'CustServ Calls', 'Churn?']

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [20]:
churn_df.isnull().sum()

State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
dtype: int64

In [2]:
churn_df.shape

(3333, 21)

In [22]:
churn_df.iloc[0]

State                   KS
Account Length         128
Area Code              415
Phone             382-4657
Int'l Plan              no
VMail Plan             yes
VMail Message           25
Day Mins             265.1
Day Calls              110
Day Charge           45.07
Eve Mins             197.4
Eve Calls               99
Eve Charge           16.78
Night Mins           244.7
Night Calls             91
Night Charge         11.01
Intl Mins               10
Intl Calls               3
Intl Charge            2.7
CustServ Calls           1
Churn?              False.
Name: 0, dtype: object

In [3]:
churn_df['Churn?'].value_counts()

False.    2850
True.      483
Name: Churn?, dtype: int64

In [4]:
labels = {
    'Churn?': {
        'False.': 0,
        'True.': 1
    }
}
churn_df = churn_df.replace(labels)
churn_df['Churn?'].value_counts()

0    2850
1     483
Name: Churn?, dtype: int64

In [5]:
y = churn_df['Churn?']
drop = ['State', 'Area Code','Phone']
churn_df = churn_df.drop(drop, axis=1)
yes_no_cols = ["Int'l Plan","VMail Plan"]
churn_df[yes_no_cols] = churn_df[yes_no_cols] == 'yes'
X = churn_df.drop(['Churn?'],axis=1)
X.head()

,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,128,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,107,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,137,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,84,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,75,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [6]:
X = X.astype('float')
X.head()

,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,128.0,0.0,1.0,25.0,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3.0,2.70,1.0
1,107.0,0.0,1.0,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3.0,3.70,1.0
2,137.0,0.0,0.0,0.0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5.0,3.29,0.0
3,84.0,1.0,0.0,0.0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7.0,1.78,2.0
4,75.0,1.0,0.0,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3.0,2.73,3.0

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [28]:
X[0]

array([ 0.67648946, -0.32758048,  1.6170861 ,  1.23488274,  1.56676695,
        0.47664315,  1.56703625, -0.07060962, -0.05594035, -0.07042665,
        0.86674322, -0.46549436,  0.86602851, -0.08500823, -0.60119509,
       -0.0856905 , -0.42793202])

In [30]:
len(y[y==0])

2850

In [31]:
from sklearn.cross_validation import KFold

def run_cv(X,y,clf_class,**kwargs):
    # Construct a kfolds object
    kf = KFold(len(y),n_folds=5,shuffle=True)
    y_pred = y.copy()

    # Iterate through folds
    for train_index, test_index in kf:
        X_train, X_test = X[train_index], X[test_index]
        y_train = y[train_index]
        # Initialize a classifier with key word arguments
        clf = clf_class(**kwargs)
        clf.fit(X_train,y_train)
        y_pred[test_index] = clf.predict(X_test)
    return y_pred

/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [32]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.neighbors import KNeighborsClassifier as KNN

def accuracy(y_true,y_pred):
    # NumPy interprets True and False as 1. and 0.
    return np.mean(y_true == y_pred)

print("Support vector machines:")
print("%.3f" % accuracy(y, run_cv(X,y,SVC)))
print("Random forest:")
print("%.3f" % accuracy(y, run_cv(X,y,RF)))
print("K-nearest-neighbors:")
print("%.3f" % accuracy(y, run_cv(X,y,KNN)))

/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

Support vector machines:
0.919
Random forest:
0.946
K-nearest-neighbors:
0.893

In [8]:
def run_prob_cv(X, y, clf_class, **kwargs):
    kf = KFold(len(y), n_folds=5, shuffle=True)
    y_prob = np.zeros((len(y),2))
    for train_index, test_index in kf:
        X_train, X_test = X[train_index], X[test_index]
        y_train = y[train_index]
        clf = clf_class(**kwargs)
        clf.fit(X_train,y_train)
        # Predict probabilities, not classes
        y_prob[test_index] = clf.predict_proba(X_test)
    return y_prob

In [15]:
import warnings
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.cross_validation import KFold
warnings.filterwarnings('ignore')

# Use 10 estimators so predictions are all multiples of 0.1
pred_prob = run_prob_cv(X, y, RF, n_estimators=10)
print(pred_prob)
pred_churn = pred_prob[:,1]
print(pred_churn)
is_churn = y == 1
print(is_churn)

# Number of times a predicted probability is assigned to an observation
counts = pd.value_counts(pred_churn)
print(counts)

# calculate true probabilities
true_prob = {}
for prob in counts.index:
    true_prob[prob] = np.mean(is_churn[pred_churn == prob])
    true_prob = pd.Series(true_prob)

# pandas-fu
counts = pd.concat([counts,true_prob], axis=1).reset_index()
counts.columns = ['pred_prob', 'count', 'true_prob']
counts

[[ 0.9  0.1]
 [ 1.   0. ]
 [ 1.   0. ]
 ...,
 [ 1.   0. ]
 [ 0.8  0.2]
 [ 0.7  0.3]]
[ 0.1  0.   0.  ...,  0.   0.2  0.3]
0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10       True
11      False
12      False
13      False
14      False
15       True
16      False
17      False
18      False
19      False
20      False
21       True
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
3303    False
3304     True
3305    False
3306    False
3307    False
3308    False
3309    False
3310    False
3311    False
3312    False
3313    False
3314    False
3315    False
3316    False
3317    False
3318    False
3319    False
3320     True
3321    False
3322     True
3323     True
3324    False
3325    False
3326    False
3327    False
3328    False
3329    False
3330    False
3331    False
3332    False
Name: Churn?, Length: 3333, dtype: bool
0.0    1745
0.1     715
0.2     281
0.3     124
0.9      88
0.8      87
0.7      77
0.6      59
0.5      55
0.4      52
1.0      50
dtype: int64

    pred_prob  count  true_prob
0         0.0   1745   0.029799
1         0.1    715   0.022378
2         0.2    281   0.046263
3         0.3    124   0.096774
4         0.9     88   0.965909
5         0.8     87   0.965517
6         0.7     77   0.922078
7         0.6     59   0.813559
8         0.5     55   0.654545
9         0.4     52   0.307692
10        1.0     50   1.000000